data/
figures/
.ipynb_checkpoints/
cluster/
nohup.out
__pycache__/
result/
log/
model/
fmodels/
tmp/
tmp.*
*.bk
# .vscode
.mypy_cache
.venv
lecarb.egg-info
*.tar
poetry.lock
quicksel/

data.zip
hxh_image/*
hxh_result/*
hxh_log/*